.FundactionsWeHelp{
  padding-bottom: 10px;
  border-bottom: $dark-gray 2px solid;
}
.paginationBtn{
  display: flex;
  flex-direction: row;
  li{
    margin: 5px;
    padding: 5px;
  }
  .paginationActive{
    border: $dark-gray 2px solid;
    padding: 5px;
  }
}
