header{
  display: flex;
  flex-direction: row;
  .headerInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
  .image {
    width: 100%;
    img {
      width: 100%;
      transform: translate(-35%);
    }
  }
  .main{
    display: flex;
    flex-direction: column;
    width: 50%;
    .login{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      a{
        padding: 10px;
        margin: 10px;
        color: $dark-gray;
      }
      a:last-child{
        border: $gold 2px solid;
      }
    }
  }
}
nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
   ul {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
   }
  .main{
    width: 100%;
  }
  .navInfo{
    margin-right: 20px;
  }
 }