header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  .headerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 50%;
    position: relative;
    right: 0;
}
@media (max-width:1000px) {
  .headerInfo{
    width: 100%;
  }
}
  .image {
    width: 50%;
    left: 0;
    img {
      width: 102vh;
      transform: translate(-35%);
    }
    
  }
  @media (max-width:1000px) {
    .image{
      width: 0px;
     img{
        width: 0px;
    } 
  }
  }
}
  
nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
   ul {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
   }
  .main{
    width: 100%;
    display: flex;
    flex-direction: column;

    .login{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      a{
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        color: $dark-gray;
      }
      a:last-child{
        border: $gold 2px solid;
      }
    }
  }
  }
  .navInfo{
    margin-right: 20px;
    a{
      text-decoration: none;
      color: $dark-gray;
      padding: 10px;
    }
    a:first-child{
      border: $dark-gray 1px solid;
    }
  }